/* Footer */

.footer{
    margin-top: 80px;
    background-color: rgb(0, 0, 0);
}

.foot{
    padding: 20px 0;
}

.footer-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.footlinks h4{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-bottom: 30px;
    position: relative;
}


.footlinks h4::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 70px;
    left: 0;
    bottom: -7px;
    background: white;
}

.footlinks ul li{
    margin-bottom: 15px;
}

.footlinks ul{
    list-style: none;
}

.footlinks ul li a{
    font-size: 17px;
    color: #dddddd;
    display: block;
    transition: ease 0.30s;
}

.footlinks ul li a:hover{
    transform: translate(6px);
    color: white;
}

.social a{
    font-size: 25px;
    margin: 4px;
    height: 40px;
    width: 40px;
    color: rgb(21, 74, 74);
    background-color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: ease 0.30s;
}

.social a:hover{
    transform: scale(1.2);
}

.end{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 12px;
}

.end p{
    font-size: 15px;
    color: white;
    letter-spacing: 1px;
    font-weight: 300;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.connectbtn{
    display: inline-block;
    background-color: #fc0050;
    font-size: 18px;
    color: white;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: ease 0.4s;
    border: 2px solid transparent;
    letter-spacing: 1px;
}

.connectbtn:hover{
    background-color: transparent;
    border: 2px solid #fc0050;
    transform: scale(1.1);
}

.connect-section{
    margin-top: 26px;
}


.social-icons a{
    height: 40px;
    width: 40px;
    margin: 4px;
    font-size: 30px;
    color: #101010;
    background-color: white;
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: ease 0.30s;
}

.social-icons a:hover{
    transform: scale(1.2);
}


/* Featured Section */
.feature-grids h3,
.bottom-gd.fea h3 {
    color: #05c46b;
    letter-spacing: 1px;
    margin-top: 0em;
    font-size: 1.4em;
}

.heading{
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 1px;
}

.bottom-gd,
.bottom-gd2-active {
    background: #f8f9fa;
    transition: 2s all;
    box-shadow: 7px 7px 10px 0 rgba(76, 110, 245, .1);
}

.bottom-gd.fea {
    margin-bottom: 1.5em !important;
    padding: 3em 0.5em;
}

.bottom-gd.fea h3 {
    font-size: 1.2em;
}

.fea span {
    color: #da9d40;
    font-size: 3em;
}

.fetured-sec img {
    box-shadow: 14px 14px 50px -20px rgba(0, 0, 0, .1);
}

/* Stats Section */
.stats {
    background: url(../assets/stats_banner.jpg) center;
    background-size: cover;
    position: relative;
    padding: 50px 0;
}

.stats h3.heading {
    color: #f8f9fa;
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 1px;
}

.stats p {
    color: #ffffff;
    font-size: 17px;
    line-height: 2em;
    letter-spacing: 1px;
}

.stats-left h4 {
    font-size: 2.4em;
    font-weight: 700;
    margin: 15px 0;
    color: #fff;
}

.stats-left h4 span {
    font-size: 50px;
    font-weight: 600;
    color: #da9d40;
}

.stats-right h4 {
    font-size: 2.4em;
    font-weight: 700;
    margin: 15px 0;
    color: #fff;
}

.stats-right span.fa {
    color: #ffffff;
    font-size: 20px;
    background: rgb(248, 249, 250);
    width: 65px;
    height: 65px;
    text-align: center;
    line-height: 65px;
    border-radius: 50%;
}

.stats-grid {
    background: #fff;
    padding: 1.5em 2em;
    text-align: center;
    border-right: 6px solid #f6f6f6;
}

.divider{
    border-top: 1px solid lightgrey;
}