.travelopedia {
    font-family: "Dancing Script", cursive !important;
}

/* Home page */
.about {
    background-color: black;
}

.about-box {
    padding: 20px;
}

.about-title {
    color: rgb(46, 174, 46);
}

.about-description {
    color: black;
}

.feature-box {
    transition: all 0.3s ease;
}

.feature-box:hover {
    transform: translateY(-5px);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .flex-nowrap {
        flex-wrap: wrap;
    }

    .flex-1 {
        flex: 0 0 calc(50% - 1rem);
        margin-bottom: 1rem;
    }

    .experience__overlay:nth-child(1) {
        width: 100%;
        margin-right: 0;
    }

    .experience__overlay:nth-child(2) {
        width: 160px;
    }

    .title {
        font-size: 3vh;
        margin-top: 20vh;
        padding: 10px;
    }

    .title h1 {
        font-size: 8vh;
    }

    .title p {
        font-size: 2vh;
    }

    .button {
        font-size: 20px;
        padding: 8px 20px;
    }

    .travelopedia {
        font-size: 8vh;
    }
}

@media (max-width: 480px) {
    .flex-1 {
        flex: 0 0 100%;
    }

    .title {
        font-size: 2.5vh;
        margin-top: 15vh;
        padding: 5px;
    }

    .title h1 {
        font-size: 6vh;
    }

    .title p {
        font-size: 1.5vh;
    }

    .button {
        font-size: 18px;
        padding: 6px 15px;
    }

    .travelopedia {
        font-size: 6vh;
    }
}

@media (min-width: 1024px) {
    .features-container {
        gap: 1rem; /* Further reduce the gap */
        display: flex;
        flex-wrap: nowrap;
    }
}

@media (max-width: 1024px) {
    .features-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .features-container .card {
        flex: 0 0 100%;
    }
}

.banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

.content-home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: linear-gradient(rgba(1, 0, 5, 0.3), rgba(4, 1, 17, 0.3));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-other {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    text-decoration: none;
    font-size: 4vh;
    color: rgb(255, 255, 255);
    padding: 14px 17px;
    margin-top: 32vh;
    text-align: center;
    vertical-align: center;
}

.title h1 {
    text-shadow: 2px black;
    transition: ease 0.3s;
}

.title h1:hover {
    color: transparent;
    -webkit-text-stroke: 1px white;

}

.button {
    display: inline-block;
    margin-top: 5vh;
    font-size: 25px;
    padding: 10px 30px;
    color: rgb(0, 0, 0);
    /* background-color:rgb(164, 44, 44); */
    background-color: white;
    border-radius: 20px;
    text-decoration: none;
    transition: ease 0.30s;
}

.button:hover {
    transform: scale(1.1);
    color: white;
    background-color: rgb(0, 0, 0);
    /* border: 2px solid rgb(42, 37, 68); */
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.4);
    padding: 10px 30px;
}

/* Services */

.text h2 {
    font-size: 40px;
    font-weight: 650;
    margin-top: 40px;
    margin-bottom: 10px;
    line-height: 2;
    text-align: center;
}

.rowitems {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    gap: 25px;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
}

.container-box {
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 50px 10px;
    transition: all 0.7s ease 0s;
    cursor: pointer;
}

.container-image img {
    height: 100px;
    width: 100px;
    padding: 10px;
    margin-bottom: 15px;
}

.container-box h4 {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 550;
}

.container-box p {
    font-size: 16px;
    color: #808080;
}

.container-box:hover {
    transform: translateX(3px);
    box-shadow: 5px 20px 50px rgba(78, 78, 78, 0.1);
    border: 1px solid transparent;
    border-radius: 0px;
}

/* Packages */

.package-title {
    text-align: center;
    color: white;
}

.package-title h2 {
    font-size: 40px;
    font-weight: 650;
    padding-top: 75px;
    padding-bottom: 10px;
    line-height: 2;
}


/* Locations */

.location-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.col-content {
    position: relative;
    filter: brightness(95%);
    transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);

}

.col-content img {
    margin-bottom: 40px;
    height: 500px;
    border-radius: 27px;
    width: 100%;

}

.col-content h5 {
    position: absolute;
    font-size: 25px;
    color: white;
    font-weight: 500;
    left: 20px;
    bottom: 105px;
    cursor: pointer;
}

.col-content p {
    position: absolute;
    font-size: 20px;
    color: white;
    left: 20px;
    bottom: 80px;
    cursor: pointer;
}

.col-content:hover {
    filter: brightness(120%);
    transform: scale(1.03);
    cursor: pointer;
}

/* Featured Section */
.feature-grids h3,
.bottom-gd.fea h3 {
    color: #05c46b;
    letter-spacing: 1px;
    margin-top: 0em;
    font-size: 1.4em;
}

.heading {
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 1px;
}

.bottom-gd,
.bottom-gd2-active {
    background: #f8f9fa;
    transition: 2s all;
    box-shadow: 7px 7px 10px 0 rgba(76, 110, 245, .1);
}

.bottom-gd.fea {
    margin-bottom: 1.5em !important;
    padding: 3em 0.5em;
}

.bottom-gd.fea h3 {
    font-size: 1.2em;
}

.fea span {
    color: #da9d40;
    font-size: 3em;
}

.fetured-sec img {
    box-shadow: 14px 14px 50px -20px rgba(0, 0, 0, .1);
}

/* Stats Section */
.stats {
    background-size: cover;
    position: relative;
    padding: 50px 0;
    margin-top: 2%;
    margin-left: 10%;
}

.stats h3.heading {
    color: #f8f9fa;
    font-size: 50px; /* Increased font size */
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.stats p {
    color: #ffffff;
    font-size: 20px; /* Increased font size */
    line-height: 2em;
    letter-spacing: 1px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.stats-left h4 {
    font-size: 3em; /* Increased font size */
    font-weight: 700;
    margin: 15px 0;
    color: #fff;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.stats-left h4 span {
    font-size: 50px;
    font-weight: 600;
    color: #da9d40;
}

.stats-right h4 {
    font-size: 2.4em;
    font-weight: 700;
    margin: 15px 0;
    color: #fff;
}

.stats-right span.fa {
    color: #ffffff;
    font-size: 20px;
    background: rgb(248, 249, 250);
    width: 65px;
    height: 65px;
    text-align: center;
    line-height: 65px;
    border-radius: 50%;
}

.stats-grid {
    background: #fff;
    padding: 1.5em 2em;
    text-align: center;
    border-right: 6px solid #f6f6f6;
}

.divider {
    margin-top: 20px;
    border-top: 1px solid lightgrey;
}

.stats.visible h3.heading,
.stats.visible p,
.stats.visible h4 {
    opacity: 1;
    transform: translateY(0);
}

.stats .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats .flex {
    width: 100%;
    justify-content: space-between;
}

.stats .flex div {
    flex: 1;
    text-align: center;
}

.experience__img {
    padding-top: 80px;
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 2rem;
}

.experience__img-one,
.experience__img-two {
    width: 100%;
    height: auto;
    transition: .3s;
    border-radius: 27px;
}

.experience__img-one:hover,
.experience__img-two:hover {
    transform: scale(1.1);
}

.experience__overlay {
    overflow: hidden;
}

.experience__overlay:nth-child(1) {
    width: 100%;
    max-width: 1000px;
    border-radius: 27px;
}

.experience__overlay:nth-child(2) {
    width: 320px;
    position: absolute;
    top: 14rem;
    right: 0;
    border-radius: 27px;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.experience__container {
    row-gap: 2.5rem;
    justify-content: center;
    justify-items: center;
}

